<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PDF Server</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        {{> header}}


        <main>
        <h1>Welcome to the PDF File Server</h1>
        <p>This website allows you to browse and access PDF files stored on the server. Use the navigation above to view all available PDFs.</p>
        </main>
    </body>
</html>